<div class="button button-outline button-positive icon-right ion-arrow-down-b"
  ng-click="select()"
  ng-transclude>
    <!-- <i class="ion-close-circled" ng-hide="isEmpty || !chipItems" ng-click="deselect()"></i> -->
    <!-- <ion-spinner ng-hide="chipItems"></ion-spinner> -->
    <!-- <i class="ion-arrow-down-b" ng-hide="!isEmpty || !chipItems" ng-click="select()"></i> -->
    <!-- <div ng-click="select()" class="chip-text">
        <p class="chip-title" ng-hide="!isEmpty">{{chipName}}</p>
        <p class="chip-selected" ng-hide="isEmpty" ng-transclude></p>
    </div> -->
    <!-- <div style="clear: both"></div> -->
</div>
