<ion-modal-view ng-controller="newEventModal.controller">
  <ion-header-bar>
    <h1 class="title">Create an Event</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text" ng-model="inputs.title" placeholder="Title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input type="text" ng-model="inputs.body" placeholder="Description">
      </label>
    </div>

    <datepicker
      first="inputs.start"
      rrule="inputs.rrule">
    </datepicker>

    <timepicker
      start="inputs.start"
      end="inputs.end">
    </timepicker>

    <div class="row">
      <button class="col button button-clear button-positive"
        ng-click="newEventModal.hide()">
        Cancel
      </button>
      <button class="col button button-positive"
        ng-click="newEvent.toggle()"
        ng-disabled="!inputs.title || !inputs.rrule">
        Create
      </button>
    </div>

  </ion-content>
</ion-modal-view>
